job-poller-asl.json
{
    "Comment": "Polling step function for translate job complete",
    "StartAt": "LambdaPoll",
    "States": {
      "LambdaPoll": {
        "Type": "Task",
        "Resource": "${JobStatusCheckerArn}",
        "InputPath": "$.detail.responseElements.jobId",
        "ResultPath": "$.detail.responseElements.jobStatus",
        "Next": "Job Complete?",
        "Retry": [
          {
            "ErrorEquals": [
              "States.ALL"
            ],
            "IntervalSeconds": 3,
            "MaxAttempts": 3,
            "BackoffRate": 5
          }
        ]
      },
      "Job Complete?": {
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.detail.responseElements.jobStatus",
            "StringEquals": "IN_PROGRESS",
            "Next": "Wait X Seconds"
          },
          {
            "Variable": "$.detail.responseElements.jobStatus",
            "StringEquals": "SUBMITTED",
            "Next": "Wait X Seconds"
          },
          {
            "Variable": "$.detail.responseElements.jobStatus",
            "StringEquals": "COMPLETED",
            "Next": "Notify"
          },
          {
            "Variable": "$.detail.responseElements.jobStatus",
            "StringEquals": "FAILED",
            "Next": "Notify"
          },
          {
            "Variable": "$.detail.responseElements.jobStatus",
            "StringEquals": "STOPPED",
            "Next": "Notify"
          }
        ],
        "Default": "Wait X Seconds"
      },
      "Wait X Seconds": {
        "Type": "Wait",
        "Seconds": 60,
        "Next": "LambdaPoll"
      },
      "Notify": {
        "Type": "Task",
        "Resource": "arn:aws:states:::sns:publish",
        "Parameters": {
          "Subject": "Translate Batch Job Notification",
          "Message": {
            "JobId.$": "$.detail.responseElements.jobId",
            "JobName.$":"$.detail.requestParameters.jobName",
            "S3OutputLocation.$": "$.detail.requestParameters.outputDataConfig.s3Uri",
            "JobStatus.$": "$.detail.responseElements.jobStatus",
            "S3InputLocation.$": "$.detail.requestParameters.inputDataConfig.s3Uri",
            "langCode.$": "$.detail.requestParameters.targetLanguageCodes"
          },
          "MessageAttributes": {
            "JobId": {
              "DataType": "String",
              "StringValue.$": "$.detail.responseElements.jobId"
            },
            "S3OutputLocation": {
              "DataType": "String",
              "StringValue.$": "$.detail.requestParameters.outputDataConfig.s3Uri"
            }
          },
          "TopicArn": "${JobStatusUpdateTopicArn}"
        },
        "End": true
      }
    }
  }